include LICENSE
include README.md
include .cursorrules
include requirements.txt
recursive-include uhg *.py
recursive-include tests *.py
recursive-include examples *.py
recursive-include docs *.rst *.py *.ipynb
global-exclude *.pdf
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store